[NetDev]
Name=wg0
Kind=wireguard
Description=Wireguard server endpoint

[WireGuard]
PrivateKey={{ wg0.private_key }}
ListenPort=51820

{% for peer in slurpfile['results'] -%}
[WireGuardPeer]
PublicKey={{- peer.content | b64decode -}}
AllowedIPs={{ hostvars[peer.item].wg0_ip_address }}/32

{% endfor %}