[Unit]
Description=IDL api for various tasks

[Service]
Restart=always
RestartSec=10s
ExecStart=/home/pi/api
DynamicUser=yes

[Install]
WantedBy=multi-user.target
