# the interface used by the AP
interface=wlan0
# g simply means 2.4GHz band
hw_mode=g
# the channel to use 
channel=3
# limit the frequencies used to those allowed in the country
ieee80211d=1
country_code=DK
ieee80211n=1
wmm_enabled=1

ssid={{ hostapd_ssid }}
# 1=wpa, 2=wep, 3=both
auth_algs=1
wpa=2
wpa_key_mgmt=WPA-PSK  
rsn_pairwise=CCMP
wpa_passphrase={{ hostapd_wpa_password }}
