Host metric-log01
    HostName metric-log01.srv.aau.dk
    User ansible
    ForwardAgent yes
    # Use this if you need to connect though the sshgw - when outside of aau's network
    # ProxyCommand ssh -lEO52RB@id.aau.dk -v -W 'metric-log01.srv.aau.dk:22' sshgw.aau.dk

Host 10.14.47.2
    ProxyJump metric-log01